@import "tailwindcss";

body {
  background-color: black;
  max-width: 100%;
  
}

@media (max-width: 640px) {
  body {
    scroll-behavior: smooth;
    
    position: relative;
    width: 100%;
  }

  html {
    overflow-x: hidden;
  }
}
